<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css' %}" />
    <title>Edit User</title>
</head>

<body>
    <div id="navbar">
        <div class="nav-obj">
            <h2>Social Dashboard</h2>
            <a class="nav-btn" style="border-left: 3px solid #535353;" href="/" class="nav-btn">Home</a>
            <a class="nav-btn" href="/dashboard/all" class="nav-btn">Find Users</a>
        </div>
        <div id='nav-btns'>
            {%if request.session.curr_user_id == 'none'%}
            <a class="nav-btn" style="border-left: 3px solid #535353;" href="/register/" class="nav-btn">Register</a>
            <a class="nav-btn" href="/signin/" class="nav-btn">Sign In</a>
            {%else%}
            <h4 class="nav-obj">Welcome {{curr_user.fName}} {{curr_user.lName}}</h4>
            <a class="nav-btn" style="border-left: 3px solid #535353;" href="/users/{{curr_user.id}}/edit" class="nav-btn">My Profile</a>
            <a class="nav-btn" href="/dashboard/show/{{curr_user.id}}" class="nav-btn">My Dashboard</a>
            <a class="nav-btn" href="/logout" class="nav-btn">Sign Out</a>
            {%endif%}
        </div>
    </div>
    <div id="content">
        <h1>Edit {{user.fName}} {{user.lName}}'s Profile</h1>

        {%for message in messages%}
        <text class="errMsg">{{message}}</text class="errMsg"><br>
        {%endfor%}
        <h4>Edit Info</h4>
        <form action="/users/adminUpdateInfo/" method="post">
            {%csrf_token%}
            <input type="hidden" name="id" value="{{user.id}}">
            <label for="fName">First Name:<br>
                <input type="text" name="fName" value="{{user.fName}}"><br><br>
            </label>
            <label for="lName">Last Name:<br>
                <input type="text" name="lName" value="{{user.lName}}"><br><br>
            </label>
            <label for="email">Email Address:<br>
                <input type="text" name="email" value="{{user.email}}"><br><br>
            </label>
            <label for="birthday">Birthdate:<br>
                <input type="text" name="birthday" value="{{user.birthday}}"><br><br>
            </label>
            <input type="submit" value="Update Info"><br><br>
        </form>
        
        <h4>Change Password</h4>
        <form action="/users/adminUpdateInfo/" method="post">
            {%csrf_token%}
            <input type="hidden" name="id" value="{{user.id}}">
            <label for="fName">New Password:<br>
                <input type="password" name="password"><br><br>
            </label>
            <label for="lName">New Password Confirmation:<br>
                <input type="password" name="pw_conf"><br><br>
            </label>
            <input type="submit" value="Change Password"><br><br>
        </form>
        
        <h4>Update User Level</h4>
        <form action="/users/updateLevel/" method="post">
            {%csrf_token%}
            <input type="hidden" name="id" value="{{user.id}}">
            <select name="level">
                {%if user.level == 'admin'%}
                <option value="normal">Normal</option>
                <option value="admin"selected>Admin</option>
                {%else%}
                <option value="normal" selected>Normal</option>
                <option value="admin">Admin</option>
                {%endif%}
            </select>
            <input type="submit" value="Update User Level"><br><br>
        </form><br>
        
        <h4>Edit Description</h4>
        <form action="/users/adminUpdateInfo/" method="post">
            {%csrf_token%}
            <input type="hidden" name="id" value="{{user.id}}">
            <textarea name="desc" cols="50" rows="7" placeholder="Write something about yourself..." value='{{user.desc}}'></textarea><br><br>
            <input type="submit" value="Change Description"><br><br>
        </form>
    </div>
</body>

</html>