<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css' %}" />
    <title>Register</title>
</head>

<body>
    <div id="navbar">
        <div class="nav-obj">
            <h2>Social Dashboard</h2>
            <a class="nav-btn" style="border-left: 3px solid #535353;" href="/" class="nav-btn">Home</a>
            <a class="nav-btn" href="/dashboard/all" class="nav-btn">Find Users</a>
        </div>
        <div id='nav-btns'>
            {%if request.session.curr_user_id == 'none'%}
            <a class="nav-btn" style="border-left: 3px solid #535353;" href="/register/" class="nav-btn">Register</a>
            <a class="nav-btn" href="/signin/" class="nav-btn">Sign In</a>
            {%else%}
            <h4 class="nav-obj">Welcome {{curr_user.fName}} {{curr_user.lName}}</h4>
            <a class="nav-btn" style="border-left: 3px solid #535353;" href="/users/{{curr_user.id}}/edit" class="nav-btn">My Profile</a>
            <a class="nav-btn" href="/dashboard/show/{{curr_user.id}}" class="nav-btn">My Dashboard</a>
            <a class="nav-btn" href="/logout" class="nav-btn">Sign Out</a>
            {%endif%}
        </div>
    </div>

    <div id="content">
        <h1>Register</h1>
        <form action="/registerUser" method="post">
            {%csrf_token%}
            <label for="fName">First Name:
                <input type="text" name="fName" id="fName">
            </label>
            <br>
            <br>
            <label for="lName">Last Name
                <input type="text" name="lName" id="lName">
            </label>
            <br>
            <br>
            <label for="email">Email:
                <input type="text" name="email" id="email">
            </label>
            <br>
            <br>
            <label for="birthday">Birthday:
                <input type="date" name="birthday" id="birthday" required>
            </label>
            <br>
            <br>
            <label for="password">Password:
                <input type="password" name="password" id="password">
            </label>
            <br>
            <br>
            <label for="pw_conf">Confirm Password:
                <input type="password" name="pw_conf" id="pw_conf">
            </label>
            <br>
            <br>
            <input type="submit" value="Register">
        </form>
        {%for message in messages%}
        <text class="errMsg">{{message}}</text class="errMsg"><br>
        {%endfor%}
    </div>
</body>

</html>